@using Todolist.ViewModels
@model TasksVm
@{
    ViewBag.Title = "Todolist";
}
<div class="alert alert-success alert-dismissible hide" id="Alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="InfoMessage"></div>
</div>
<br />
<br />
<button type="button" class="btn btn-info" data-url="@Url.Action("Create")" id="AddTask">Add Task</button>
<br />
<br />
<div id="PartialContent">
    @Html.Partial("_PartialContent", Model)
</div>
<div class="text-info">
    <h4>@ViewBag.Error</h4>
</div>
<div id="ModDialog" class="modal fade" role="dialog">
    <div id="DialogContent" class="modal-dialog">
    </div>
</div>
<script src='@Url.Content("~/Scripts/jquery-3.3.1.js")'></script>
<script src='@Url.Content("~/Scripts/site.js")'></script>
<script src='@Url.Content("~/Scripts/datatables.min.js")'></script>
<script>
    initUrls('@Url.Action("CheckCoincidences", "Todolist")',
             '@Url.Action("TasksAsDataTables", "Todolist")');
</script>


